@font-face {
    font-family: "Gotham Pro Black";
    src: url(/fonts/GothamPro-Black.ttf);
}


@font-face {
    font-family: "Gotham Pro Bold";
    src: url(/fonts/GothamProNarrow-Bold.ttf);
}


@font-face {
    font-family: "Gotham Pro Medium";
    src: url(/fonts/GothamPro-Medium.ttf);
}